# /home/obed/Documents/bootcamp-waitlist/backend/requirements.txt
fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
asyncpg==0.30.0
pydantic-core==2.27.1
pydantic==2.6.4
pydantic-settings==2.6.1
email-validator==2.2.0
python-dotenv==1.0.1
